  
{% extends "analytics_hub/viz_base.html" %}

{% block viz_title %}
Observation by Location
{% endblock %}

{% block chart_content %}

<div class="bg-white dark:bg-gray-800 p-4 rounded">
    <div style="height:500px;">
        <div class="alert alert-info">
    Indicator: <strong>{{ indicator_name }}</strong><br>
    <!-- Year: {{ selected_year }} -->
</div>

        <canvas id="barChart"></canvas>
    </div>
    <div class="mt-5">
    <h5>Trend Over Time</h5>
    <canvas id="lineChart"></canvas>
</div>
</div>

{{ chart_labels|json_script:"chart-labels" }}
{{ chart_values|json_script:"chart-values" }}
<script src="https://cdn.jsdelivr.net/npm/chart.js" ></script> 
 
<script>

// new Chart(document.getElementById('lineChart'), {
//     type: 'line',
//     data: {
//         labels: {{ line_chart_labels|safe }},
//         datasets: [{
//             label: 'Trend',
//             data: {{ line_chart_values|safe }},
//             borderColor: '#2563eb',
//             backgroundColor: 'rgba(37,99,235,0.1)',
//             fill: true,
//             tension: 0.3
//         }]
//     },
//     options: {
//         responsive: true,
//         scales: {
//             y: {
//                 beginAtZero: true
//             }
//         }
//     }
// });
years = sorted(set(item["year"] for item in data))

male_values = []
female_values = []

for year in years:
    male = next(
        (
            item["value"]
            for item in data
            if item["year"] == year
            and item["sex__name"] == "Male"
        ),
        None,
    )

    female = next(
        (
            item["value"]
            for item in data
            if item["year"] == year
            and item["sex__name"] == "Female"
        ),
        None,
    )

    male_values.append(male)
    female_values.append(female)

</script>

<script>

document.addEventListener("DOMContentLoaded", function () {

    const labels = JSON.parse(
        document.getElementById("chart-labels").textContent
    );

    const values = JSON.parse(
        document.getElementById("chart-values").textContent
    );

    const ctx = document.getElementById("barChart");

    new Chart(ctx, {
        type: "bar",

        data: {
        labels: {{ chart_labels|safe }},
            datasets: [{
            label: '{{ indicator_name }}',
            data: {{ chart_values|safe }},
                backgroundColor: [
                    "rgba(59, 130, 246, 0.7)"
                ],

                borderColor: [
                    "rgba(59, 130, 246, 1)"
                ],

                borderWidth: 1
            }]
        },

        options: {

            responsive: true,

            maintainAspectRatio: false,

            plugins: {
                legend: {
                    display: true
                },
                   title: {
            display: true,
            text: '{{ indicator_name }} by Location'
        }
            },

            scales: {

                x: {
                    ticks: {
                        maxRotation: 45,
                        minRotation: 45
                    }
                },

                y: {
                    beginAtZero: true,

                    title: {
                        display: true,
                        text: "Value"
                    }
                }

            }

        }

    });

});

</script>

{% endblock %}

{% block table_content %}

<div class="overflow-x-auto">
    <table class="min-w-full">

        <thead>
            <tr>
                <th class="p-2 text-left">Location</th>
                <th class="p-2 text-right">Value</th>
            </tr>
        </thead>

        <tbody>

        {% for row in data %}
            <tr class="border-t">
                <td class="p-2">
                    {{ row.label }}
                </td>

                <td class="p-2 text-right">
                    {{ row.value }}
                </td>
            </tr>
        {% endfor %}

        </tbody>

    </table>
</div>

{% endblock %}

{% block map_content %}

<!-- <div
    id="map"
    class="h-[600px] rounded border">
</div> -->
<div>
<div id="map" style="height:500px;"></div>
</div>
<!--  -->

<script>
const geojsonData = JSON.parse(
    '{{ map_geojson|escapejs }}'
);

const map = L.map('map').setView([9.145, 40.4897], 6);

L.tileLayer(
    'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
    {
        attribution: '&copy; OpenStreetMap'
    }
).addTo(map);

function getColor(v) {
    return v > 10000 ? '#800026' :
           v > 5000  ? '#BD0026' :
           v > 2000  ? '#E31A1C' :
           v > 1000  ? '#FC4E2A' :
           v > 500   ? '#FD8D3C' :
           v > 100   ? '#FEB24C' :
           v > 0     ? '#FED976' :
                       '#EFEFEF';
}

function style(feature) {
    return {
        fillColor: getColor(
            feature.properties.value || 0
        ),
        weight: 1,
        color: '#666',
        fillOpacity: 0.7
    };
}

function onEachFeature(feature, layer) {

    layer.bindPopup(
        '<b>' +
        feature.properties.ZONE_NAME +
        '</b><br>' +
        'Value: ' +
        (feature.properties.value || 0)
    );
}

const geoLayer = L.geoJSON(
    geojsonData,
    {
        style: style,
        onEachFeature: onEachFeature
    }
).addTo(map);

map.fitBounds(geoLayer.getBounds());
</script>
{% endblock %}